h1 {
	color: rgb(219, 205, 100, 134);
	text-align: center;
}

h2 {
	font-size: 20px;
	color: brown;
}
section {
	padding: 16px;

}

p {
	font-size: 18px;
	color: rgb(150, 147, 127, 145.1);
}

li {
	font-size: 18px;
	color: rgb(150, 147, 127, 145.1);
}